[user]
	email = tim.bradley.256@gmail.com
	name = Tim Bradley

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

	d = difftool

	gud = pull

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = master
